apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: travel-booking
  labels:
    app: backend
    tier: application
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
    nodePort: 30080
  selector:
    app: backend
    tier: application
