apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: travel-booking
  labels:
    app: frontend
    tier: presentation
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
    nodePort: 30000
  selector:
    app: frontend
    tier: presentation
